//Font Color
$white-font-color: #fff;
$black-font-color: #000;
$gray-font-color: hsl(0, 0%, 65%);

//Background Color
$white-background-color: hsl(0, 0%, 100%);
$white-background-color-hover: hsl(0, 0%, 80%);
$black-background-color: rgba(0, 0, 0, 0.8);
